@import "tailwindcss";

@theme {
  --font-sans: var(--my-font), monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customRed: #e0310a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

html, body {
  color: var(--foreground);
  background-color: black;
  font-family: var(--my-font), monospace;
}
