@import "tailwindcss";

@font-face {
  font-family: 'Kode Mono';
  src: url('/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: 'Kode Mono', monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customRed: #e0310a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), monospace;
}

html {
  font-family: var(--font-sans), monospace;
}

html, body {
  background-color: black;
  font-family: 'Kode Mono', monospace !important;

}
